
<div class="content">
    <div class="content_subcontent">
        <div class="content_subcontent_imageCover">
            <img src="./assets/images/algoritmo-og.jpg" alt="">
            <p id="algoritmo">Algoritmos</p>
            <p id="resolvidos">Resolvidos</p>
        </div>    
        <div class="content_subcontent_text">        
            <div class="content_subcontent_text_left"> 
                <p>Definição de Algoritmo:</p>
                <p>Conjunto das regras e procedimentos lógicos perfeitamente definidos que levam à solução de um problema em um número finito de etapas.</p>
            </div>
            <div class="content_subcontent_text_right">
                <div class="textPseudo">
                    <p>Representação em Pseudocódigo:</p>
                </div> 
                <pre>
                    <code class="code">
    inicio
        inteiro n1, n2, result      // declaração variável

        ler(n1)                     // leitura do numero 1
        ler(n2)                     // leitura do numero 2
        
        result <- n1 + n2           // somar e atribuir 
                                    // à variável result
    
        escrever(result)            // imprimir o resultado
    fim
                    </code>
                </pre>
            </div>       
        </div>
        <div class="content_subcontent_imageFluxogram">
            <p>Representação em Fluxograma: </p>
            <img src= './assets/images/fluxograma/fluxograma1.png'>                    
        </div>
        <div class="content_subcontent_botton">
            <p>Desenvolvido por Álvaro Augusto Pereira</p>
            
            <p>© Copyright 2023 Álvaro Itu</p>
            
            
        </div>
    </div>
</div>

