
<div class="content">    
    <div class="content_up">        
        <div class="content_up_left"> 
            <p>Definição de Algoritmo:</p>
            <p>Conjunto das regras e procedimentos lógicos perfeitamente definidos que levam à solução de um problema em um número finito de etapas.</p>
        </div>
        <div class="content_up_right"> 
            <p>Representação em Pseudocódigo:</p>
            <pre>
                <code class="code">
        inicio
            inteiro n1, n2, result      // declaração variável

            ler(n1)                     // leitura do numero 1
            ler(n2)                     // leitura do numero 2
            
            result <- n1 + n2           // somar e atribuir a variável result
        
            escrever(result)            // imprimir o resultado
        fim
                </code>
            </pre>
        </div>       
    </div>
    <div class="content_center">
        <div class="content_column_pseudocodigo">
            <p>Representação em Fluxograma: </p>
            <img class="content_column_pseudocodigo_image" src= './assets/images/fluxograma/fluxograma1.png'>
        </div>        
    </div>
    <div class="content_botton">
        <div>
            <p>Entre em Contato com o Autor</p>
        </div>
        <div>
            
        </div>
    </div>
</div>

