<div class="content">
    <mat-card class="content_column">        
        <mat-card class="content_column_text">Algoritmos definição</mat-card>
        <mat-card class="content_column_pseudocodigo">representação em pseudocodigo</mat-card>
        <mat-card class="content_column_fluxograma">representação em figura</mat-card>
    </mat-card>
    <mat-card class="content_contact">
        <div>
            <p>Entre em Contato com o Autor</p>
        </div>
        <div>
            contatos           
        </div>
    </mat-card>
</div>
